section {
    width: 100%;
    display: flex;
    justify-content:center;
}
.square {
    width: 160px;
    height: 160px;
    background-color: rgb(255, 215, 162);
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 50px;
    animation: squer-to-circle 5s infinite;
}
@keyframes squer-to-circle {
    0% {transform: rotate(360deg) scale(1);}
    25% {transform: rotate(-360deg) scale(.5);border-radius: 100px; background-color: rgb(255, 140, 0);}
    50% {transform: rotate(360deg) scale(1); border-radius: 30px;}
    75% { transform: rotate(-360deg) scale(.5); border-radius: 100px; background-color: rgb(255, 140, 0);}
    100% {transform: rotate(360deg) scale(1);}
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.puls {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 5px;
    padding-top: 50px;
}
.circles-block {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    
}
.little-circle::before {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 4, 255);
    border-radius: 50%;
    position: absolute;
    right: 65px;
    content: '';
    animation: pulse 2.2s infinite;
    box-shadow: 0 0 0 rgba(0, 17, 255, 0.4);
}
.little-circle {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
}
.little-circle::after {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: absolute;
    left: 65px;
    content: '';
    animation: pulse 1.7s infinite;
    box-shadow: 0 0 0 rgba(212, 57, 10, 0.4);
}

    @keyframes pulse {
        0% {
          -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.342);
          box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.356);
        }
        70% {
            -moz-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0.486);
            box-shadow: 0 0 0 15px rgba(204, 169, 44, 0.534);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgb(204, 169, 44);
            box-shadow: 0 0 0 0 rgb(204, 169, 44);
        }
      }


    .orbit {
        width: 80%;
        height: 500px;
        background-color: rgb(160, 160, 160);
        padding-left: 300px;
        margin-top: 50px;
    } 
    .earth {
        /* perspective: 600px;
        -webkit-perspective: 600px; */
        position: relative;      
        margin: 10px;
        height: 500px;
        background-image: url(./assets/img/Earth-Globe.png);
        background-repeat: no-repeat;
        margin-left: 100px;
    }
    #moon {
        /* margin: 0 auto; */
        position: absolute;
        margin-top: 150px;
        margin-left: 150px;
        content: url(./assets/img/full_moon.png);
        /* -webkit-animation-name: orbit-animation;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite; */
        animation-name: orbit-animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes orbit-animation {
        from {
            transform: rotateY(0) translateZ(300px);
            animation-timing-function: linear;
        }
        to {
            transform: rotateY(360deg) translateZ(300px);
            animation-timing-function: linear;
        }
    }