@import url(./reset.css);

@font-face {
    font-family: "bahij-sultannahia";
    src: url(./Завдання/fonts/bahij-sultannahia.ttf);
}

@font-face {
    font-family: "ChronicaPro-Regular";
    src: url(./Завдання/fonts/ChronicaPro-Regular.ttf);

}

body {
    background-color: #E5E5E5;

}

.page {
    background-color: #fff;
    width: 94%;
    height: 94.5%;
    position: absolute;
    margin: 2% 3%;

}

.menu {
    width: 30%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 35%;
}

.menu a {
    font-family: "ChronicaPro-Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #131313;
    text-decoration: none;
}

.menu a:hover {
    transition: 0.5s;
    color: #2785F7;
}

a.nowActive {
    color: #2785F7;
}

.main {
    box-sizing: border-box;
    width: 98%;
    height: 85%;
    background: #E5E5E5;
    border-radius: 30px;
    margin-left: 20px;
    margin: 1% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

    .sideBar {
        box-sizing: border-box;
        border-radius: 30px;
        background: white;
        width: 7%;
        height: 55%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
        padding-top: 1%;

    }
        .iconsSideBarMain {
            width: 68%;
            height: 15%;
            box-sizing: border-box;
            border-radius: 15px;
            background: #ffffff;
            display: flex;
            
        }
        .iconsSideBarMain:hover {
            /* width: 68%;
            height: 15%;
            box-sizing: border-box;
            border-radius: 15px; */
            background: #2785F7;
        }
        .iconsSideBarMain img {
            width: 75%;
            height: 75%;
            margin: 0 auto;
            padding-top: 12%;
        }   


    .contentBase {
        width: 85%;
        height: 80%;
    }

        .contentTop {
            width: 100%;
            height: 18%;
            display: flex;
            justify-content: space-between;
        }
            .projName {
                box-sizing: border-box;
                border-radius: 30px;
                background: white;
                width: 49%;
                height: 100%;
                padding: 2%;
            
            }
            .compOrg {
                box-sizing: border-box;
                border-radius: 30px;
                background: white;
                width: 49%;
                height: 100%;
                padding: 2%;
            
            }

        .contentBottom {
            width: 100%;
            height: 80%;
            margin-top: 2%;
            display: flex;
            justify-content: space-between;
        }
        .contenBottomLeftSide {
            width: 58%;
            height: 100%;

           } 
            .descr {
                box-sizing: border-box;
                border-radius: 30px;
                background: white;
                width: 100%;
                height: 46%;
                margin-bottom: 5%;
                padding: 5%;
                /* position: absolute;
                left: 15%;
                right: 36.94%;
                top: 30.56%;
                bottom: 45.89%; */
            }
            
            .team {
                box-sizing: border-box;
                border-radius: 30px;
                background: white;
                /* position: absolute;
                left: 15%;
                right: 36.94%;
                top: 60%;
                bottom: 15%; */
                width: 100%;
                height: 46%;
                display: flex;
                justify-content: space-evenly;
                align-items:center;
                
            }
                .teamDescription {
                    width: 70%;
                    height: 50%;
                }

        .dataPort {
            box-sizing: border-box;
            border-radius: 30px;
            background: white;
            height: 100%;
            width: 39%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-evenly;
            /* position: absolute;
            left: 65.35%;
            right: 3.61%;
            top: 30.56%;
            bottom: 15%; */
        }
            .dataPortDescription {
                width: 80%;
                height: 60%;
                padding-left: 10%;

            }

/* team style */

.mainTeam {
    box-sizing: border-box;
    width: 98%;
    height: 85%;
    background: #E5E5E5;
    border-radius: 30px;
    margin-left: 20px;
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
    .topSection, .bottomSection {
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
        .teamMembrs {
            width: 22%;
            height: 100%;
            border-radius: 30px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            align-content: space-evenly;
            justify-content: center;
        }
        .teamMembrs:hover {
            background-color: #2785F7;
            color: white;
        }
            .memberDiscription {
                text-align: center;
                width: 100%;
                margin: 0 auto;
            }
            .transitioTextMembers {
                /* font-family: "ChronicaPro-Regular";
                font-size: 18px;
                font-weight: 700;
                line-height: 28.8px;
                color: #B1B1B1;
                font-style: normal; */
                margin-top: 10%;
            }
            .memberPhoto {
                box-sizing:border-box;
                border-radius: 60px;
                overflow: hidden;
            }

/* lesson style */

.contentLessons {
box-sizing: border-box;
width: 98%;
height: 85%;
background: #E5E5E5;
border-radius: 30px;
margin-left: 20px;
margin: 0 auto;

}

.contentLessons ul {
list-style: none;
display: flex;
text-align: center;
justify-content: space-evenly;
align-items: center;
margin: 0 auto;
width: 90%;
height: 10%;
}

.contentLessons :hover:not(.list-header) {
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    
}
.list-header, .contentLessons li {
    font-family: "ChronicaPro-Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 38.4px;
    color: #000000;
    font-style: normal;
    
}

header {
    text-align: center;
    
}

.bgImg {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 11px;
}

.contImg {
    width: 120px;
    height: 120px;
}

.transitioText, .transitioTextMembers {
    font-family: "ChronicaPro-Regular";
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    color: #B1B1B1;
    font-style: normal;
    
}

.transitioTextDataPort {
    font-family: "ChronicaPro-Regular";
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    color: #B1B1B1;
    font-style: normal;
    width: 100%;
    height: 80%;
    
}

.boldText {
    font-family: "ChronicaPro-Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 38.4px;
    color: #000000;
    font-style: normal;
}