@import url('./reset.css');

/* div {
    background-color: blue;
    width: 50%;
} */
div:first-child {
    background-color: red;
}
div:last-child {
    background-color: green;
}

li {
    width: 30%;
    height: 10%;
}
li:first-child{
    background-color: aquamarine;
}
li:last-child{
    background-color: brown;
}
/* li:nth-child(2){
    background-color: rgb(87, 165, 42);
}
li:nth-child(3n){
    background-color: rgb(87, 165, 42); кожен третій елемнт буде задіяно
} */ 

/* кожен не парний */
li:nth-child(odd){
    background-color: rgb(87, 165, 42); 
}
/* кожен парний
li:nth-child(even){
    background-color: rgb(87, 165, 42);
} */
.links {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;

}
.paragr p::first-letter {
    font-size: 56px;
    color: teal;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* перша стрічка до переносу, краю блоку */
.paragr p::first-line {
    font-size: 56px;
    color: teal;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
