h1 {
	color: white;
}

@mixin image ($color, $position) {
	background-color: $color;
	color: black;
	width: 150px;
	height: 235px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: $position;
}

body {
	padding: 150px 0 0 0;
	background-color: orange;
}

.container {
	display: flex;
	justify-content: flex-start;
	background-color: white;
}


.social-link {
	@include image(#276283, relative)
}

.social-link {
	.image-block {
		@include image(#276283, relative)
	}

	.block-content {
		width: 350px;
		height: 235px;
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		transition: .5s ease;
		opacity: 0;
		padding: 15px;
		box-sizing: border-box;
	}

	.hover-image {
		right: 0;
		transition: .5s ease;
		z-index: -1;
		@include image(#ad1a1a, absolute);
		width: 0;
		height: 235px;
	}

	&:hover {
		width: auto;

		.hover-image {
			right: 0px;
			width: 150px;
			transition: .5s ease;
			z-index: 1;
		}

		.block-content {
			position: relative;
			background: white;
			opacity: 1;
			transition: .5s ease;
		}
	}
}